{% extends "layout.html" %}
{% block title %}Home - Flask Blog{% endblock %}
{% block main%}
<h2 Class="mt-4">Recent Posts</h2>
<div class="row">
  {% for post in posts %}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content[:100] }}{% if post.content|length > 100 %}...{% endif %}</p>
        <p class="card-text">
          <small class="text-muted">Posted by {{ post.author.username }} on {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </p>
        <a href="/post/{{post.id}}/" class="btn btn-primary">Read more</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{%endblock%}
