{% extends "layout.html" %}
{% block title %}Home - Flask Blog{% endblock %}
{% block main%}
<h1 class="mb-4">Login</h1>
<div class="d-flex justify-content-center align-items-center container">
  <div class="post-card py-5 px-5">
    <form method="POST" action="/login">
      <div class="form-group">
        <label for="title">Email</label>
        <div class="form-group">{{ form.email(class_="form-control") }}</div>
      </div>
      <div class="form-group">
        <label for="content">Password</label>
        <div class="form-group">{{ form.password(class_="form-control")
          }}</div>
      </div>
      <button type="submit" class="">Submit</button>
    </form>
  </div>
</div>
{% if error %}
<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
  <div class="toast" style="position: absolute; top: 20px; right: 20px;">
    <div class="toast-body">
      {{error}}
    </div>
  </div>
</div>
{% endif %}
<script>
  $(document).ready(function() {
      $('.toast').toast({ delay: 5000 });
      $('.toast').toast('show');
  });
</script>
{% endblock %}
