{% extends "layout.html" %}
{% block title %}Home - Flask Blog{% endblock %}
{% block main%}
<h1 class="mb-4">Create a New Post</h1>
<div class="d-flex justify-content-center align-items-center container">
  <div class="post-card py-5 px-5">
    <form method="POST" action="/post">
      <div class="form-group">
        <label for="title">Title</label>
        <div class="form-group">{{ form.title(class_="form-control") }}</div>
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <div class="form-group">{{ form.content(class_="form-control", rows="5", cols="5") }}</div>
      </div>
      <button type="submit" class="">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
