{% extends "layout.html" %}
{% block title %}Home - Flask Blog{% endblock %}
{% block main%}
<h1 class="mb-4">Create a New Post</h1>
<!-- <div class="d-flex justify-content-center align-items-center container"> -->
<!--   <div class="post-card py-5 px-5"> -->
<!--     <div class="card mb-4 shadow-sm"> -->
<!--       <div class="card-body"> -->
<!--         <h5 class="card-title">{{ post.title }}</h5> -->
<!--         <p class="card-text">{{ post.content[:100] }}{% if post.content|length > 100 %}...{% endif %}</p> -->
<!--         <p class="card-text"> -->
<!--           <small class="text-muted">Posted by {{ post.author.username }} on {{ post.date_posted.strftime('%Y-%m-%d') }}</small> -->
<!--         </p> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
<div id="main-content" class="blog-page">
  <div class="container">
    <div class="row clearfix">
      <div class="col-lg-8 col-md-12 left-box">
        <div class="card single_post">
          <div class="body">
            <div class="img-post">
              <img class="d-block img-fluid" src="https://www.bootdey.com/image/800x280/87CEFA/000000" alt="First slide">
            </div>
            <h3>{{post.title}}</h3>
            <p>{{post.content}}</p>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h2>Comments 3</h2>
          </div>
          <div class="body">
            <ul class="comment-reply list-unstyled">
              <li class="row clearfix">
                <div class="icon-box col-md-2 col-4"><img class="img-fluid img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Awesome Image"></div>
                <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                  <h5 class="m-b-0">Gigi Hadid </h5>
                  <p>Why are there so many tutorials on how to decouple WordPress? how fast and easy it is to get it running (and keep it running!) and its massive ecosystem. </p>
                  <ul class="list-inline">
                    <li><a href="javascript:void(0);">Mar 09 2018</a></li>
                    <li><a href="javascript:void(0);">Reply</a></li>
                  </ul>
                </div>
              </li>
              <li class="row clearfix">
                <div class="icon-box col-md-2 col-4"><img class="img-fluid img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Awesome Image"></div>
                <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                  <h5 class="m-b-0">Christian Louboutin</h5>
                  <p>Great tutorial but few issues with it? If i try open post i get following errors. Please can you help me?</p>
                  <ul class="list-inline">
                    <li><a href="javascript:void(0);">Mar 12 2018</a></li>
                    <li><a href="javascript:void(0);">Reply</a></li>
                  </ul>
                </div>
              </li>
              <li class="row clearfix">
                <div class="icon-box col-md-2 col-4"><img class="img-fluid img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="Awesome Image"></div>
                <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                  <h5 class="m-b-0">Kendall Jenner</h5>
                  <p>Very nice and informative article. In all the years I've done small and side-projects as a freelancer, I've ran into a few problems here and there.</p>
                  <ul class="list-inline">
                    <li><a href="javascript:void(0);">Mar 20 2018</a></li>
                    <li><a href="javascript:void(0);">Reply</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 right-box">
        <div class="card">
          <p>New Post</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
