{% extends "layout.html" %}
{% block title %}Sell{% endblock %}
{% block main %}
    <div class="mb-3">
        <form action="/sell" method="post">
            <select class="form-select mx-auto w-auto" name="symbol">
                {% for r in response %}<option value="{{ r.symbol }}">{{ r.symbol }}</option>{% endfor %}
            </select>
            <div class="my-3">
                <input autocomplete="off"
                       class="form-control mx-auto w-auto"
                       min="0"
                       name="shares"
                       placeholder="Shares"
                       type="number">
            </div>
            <input type="hidden" id="type" name="type" value="sell" />
            <button class="btn btn-primary" type="submit">Sell</button>
        </form>
    </div>
    {% if message %}
        <script>
  var message = '{{ message}}';
  window.addEventListener('load', () => {
    alert(message);
  });
        </script>
    {% endif %}
{% endblock %}
